.navbar {
    &-brand {
        background-color: $Smoky_black;
    }

    a.navbar-brand {
        font-family: "Old Standard TT", serif;
        padding: 20px;
        color: white;
        height: 100%;
    }

    button.navbar-toggler {
        margin-right: 30px;
        border: none;
    }

    &-nav {
        .nav-item {
            text-align: center;
            a.nav-link {
                font-weight: bold;
                color: $Smoky_black;
            }
        }
    }
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    padding: 0;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    a.nav-link {
        font-size: 21px;
        margin: 0 25px;
    }
}
