button.navbarA__btn--primario {
    background-color: $Shiny_shamrock;
    height: 40px;
    width: 180px;
    font-size: 16px;
    font-family: "PT Mono", monospace;
    font-size: 16px;
    color: white;
}
