button.navbarA__btn--secundario {
    background-color: white;
    height: 40px;
    width: 180px;
    font-size: 16px;
    font-family: "PT Mono", monospace;
    font-size: 16px;
    color: $Quick_silver;
    border: solid 1px;
    border-color: $Quick_silver;
}
