.navbar {
    margin: 15px 0;
    &-brand {
        font-size: 36px;
    }

    &-nav {
        margin-left: auto;
    }

    i {
        margin: 0 10px;
        color: $black;
    }

    .nav-item {
        text-align: center;
    }
}

nav.navbar.navbar-expand-lg.navbar-light {
    padding: 0;
}

button.navbar-toggler {
    border: none;
}
