@font-face {
    font-family: Titulos;
    src: url("../../assets/fonts/PlayfairDisplay-BlackItalic.ttf");
}

@font-face {
    font-family: subtitulos;
    src: url("../../assets/fonts/PlayfairDisplay-Regular");
}
