h1, h2, h3 {
    font-family: 'Barlow', sans-serif;
    text-align: center;
}

button {
   margin: 0 25px;
   padding: 15px;
   background-color: white;
   border: none;
   box-shadow: rgba(0, 0, 0, 0.20) 2px 2px 2px 2px;
}

.selecOponente {
    display: block;
    margin: 50px auto;
    width: 96px;
    height: 96px;
}

.botonesSeleccion {
    display: block;
    text-align: center;
    margin: 50px 0;
}

