.banner {
    background-image: url(../../assets/img/image-banner.png);
    min-height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (min-width: 600px) {
    .banner {
        height: 150px;
    }
}

@media only screen and (min-width: 768px) {
    .banner {
        height: 175px;
    }
}

@media only screen and (min-width: 992px) {
    .banner {
        height: 200px;
    }
}

@media only screen and (min-width: 1200px) {
    .banner {
        height: 225px;
    }
}
