.footer {
    display: grid;
    grid-template-columns: 90% 10%;
    &__black {
        display: inline-block;
        background-color: $Smoky_black;
        color: $white;
        font-family: "Old Standard TT", serif;
        padding: 30px 20px;
    }

    &__white {
        font-family: "Old Standard TT", serif;
        width: 10%;
        font-weight: bold;

        h3 {
            display: block;
            margin: 0;
            writing-mode: vertical-rl;
            text-align: center;
        }
    }
}
