// Paleta de colores

// Verdes
$Shiny_shamrock: #4ca866;
$Turquoise_green: #9dcfab;
$Pastel_gray: #bddfc7;

// Negros
$Black: #000000;
$Outer_space: #454545;
$Quick_silver: #a2a2a2;

// Azules
$Blue_de_France: #3c91e6;
$Blue_Jeans: #5fa5ea;
$Jordy_blue: #82b9ef;

// Naranjos
$Flame: #e4572e;
$Light_red_ochre: #e87554;
$Pastel_pink: #f2b2a0;

// Amarillos
$Coral: #fa824c;
$Buff: #f1dd7b;
$Vanilla: #f5e7a1;
