html,
body {
    font-family: roboto;
}

.container-fluid {
    width: 80% !important;
    margin: 0 10%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container-fluid {
        width: 90% !important;
        margin: 0 5%;
    }
}
