.datos {
    background-color: white;
    position: absolute;
    width: 35%;
    padding: 2% 0;
    left: 35%;
    top: 65%;

    &__caja1 {
        display: inline-block;
        width: 20%;
        margin-left: 8%;
    }

    &__caja2 {
        margin: 0 8%;
        display: inline-block;
        width: 15%;
    }

    &__caja3 {
        display: inline-block;
        width: 33%;
    }

    &__title {
        font-family: "PT Mono", monospace;
        font-size: 80px;
        display: inline-block;
    }

    &__txt {
        display: inline-block;
        font-family: "Roboto", sans-serif;
        font-size: 28px;
    }
}
