.container-fluid {
    width: 80%;
    margin: 0 10%;
}
.navbarA {
    display: block;
    margin-top: 50px;
    height: 100px;
    margin-bottom: 50px;

    &__logo {
        float: left;
        width: 70px;
        margin-right: 100px;
    }

    &__menu {
        font-family: "PT Mono", monospace;
        font-size: 18px;
        color: $Quick_silver;
        float: left;
        margin-left: 50px;
        margin-top: 35px;
    }

    &__botones {
        margin-top: 25px;
        float: right;
    }

    &__btn--secundario {
        margin-right: 30px;
    }

    &__btn--primario {
        border: none;
    }
}
