$dark: #121619;

// Paleta de colores
$Fuzzy_Wuzzy: #e56353;
$Ruddy_Pink: #d76c69;
$Spanish_Pink: #ecbcba;

$Eerie_Black: #121619;
$Raisin_Black: #222323;
$Nickel: #6c6e70;

$Platinum: #e6e7e7;
$Light_Gray: #d1d1d1;
