// Colores Barber Shop
// Negros
$Eerie_black: #121619;
$Raisin_black: #222323;
$Nickel: #6C6E70;

// Rosados
$Fuzzi_wuzzy: #E56353;
$Ruddy_pink: #D76C69;
$Spanish_pink: #ECBCBA;

// Blancos
$White: #FFF;
$Platinum: #E6E7E7;
$Light_gray: #D1D1D1;